# NOTE: this env file using for both purposes
# 1. pass environment variable to container using directive: `env_file`
# 2. pass environment variable to while run command docker-compose using option --env-file to do variable-substitution
# 	variable-substitution: https://docs.docker.com/compose/compose-file/compose-file-v3/#variable-substitution
#						https://docs.docker.com/compose/environment-variables/#substitute-environment-variables-in-compose-files

# used to substitute variables in docker-compose file
SONARQUBE_POSTGRES_HOSTNAME=postgres-sonarqube

# using by both postgres and sonarqube
ALLOW_EMPTY_PASSWORD=yes

# postgres 
POSTGRESQL_USERNAME=database_username
POSTGRESQL_DATABASE=db_name

# sonarqube
SONARQUBE_DATABASE_HOST=${SONARQUBE_POSTGRES_HOSTNAME}
SONARQUBE_DATABASE_PORT_NUMBER=5432
SONARQUBE_DATABASE_USER=${POSTGRESQL_USERNAME}
SONARQUBE_DATABASE_NAME=${POSTGRESQL_DATABASE}

SONARQUBE_USERNAME=admin
SONARQUBE_PASSWORD=admin

# other environment variables see below or in this : https://github.com/bitnami/bitnami-docker-sonarqube#environment-variables

# SONARQUBE_EMAIL: SonarQube application email. Default: user@example.com
# SONARQUBE_SKIP_BOOTSTRAP: Whether to perform initial bootstrapping for the application. This is necessary in case you use a database that already has SonarQube data. Default: no
# SONARQUBE_PORT_NUMBER: SonarQube Web application port number. Default: 9000
# SONARQUBE_ELASTICSEARCH_PORT_NUMBER: SonarQube Elasticsearch application port number. Default: 9001
# SONARQUBE_WEB_CONTEXT: SonarQube prefix used to access to the application. Default: /
# SONARQUBE_MAX_HEAP_SIZE: Maximum heap size for SonarQube services (CE, Search and Web). No defaults.
# SONARQUBE_MIN_HEAP_SIZE: Minimum heap size for SonarQube services (CE, Search and Web). No defaults.
# SONARQUBE_CE_JAVA_ADD_OPTS: Additional Java options for Compute Engine. No defaults.
# SONARQUBE_ELASTICSEARCH_JAVA_ADD_OPTS: Additional Java options for Elasticsearch. No defaults.
# SONARQUBE_WEB_JAVA_ADD_OPTS: Additional Java options for Web. No defaults.
# SONARQUBE_EXTRA_PROPERTIES: Comma separated list of properties to be set in the sonar.properties file, e.g. my.sonar.property1=property_value,my.sonar.property2=property_value. No defaults.
# SONARQUBE_START_TIMEOUT: Timeout for the application to start in seconds. Default: 300.

# To configure SonarQube to send email using SMTP you can set the following environment variables:
# SONARQUBE_SMTP_HOST: SMTP host.
# SONARQUBE_SMTP_PORT_NUMBER: SMTP port.
# SONARQUBE_SMTP_USER: SMTP account user.
# SONARQUBE_SMTP_PASSWORD: SMTP account password.
# SONARQUBE_SMTP_PROTOCOL: If specified, SMTP protocol to use. Allowed values: tls, ssl. No default.
