.venv
__pycache__
tmp.py
db.sqlite3
.DS_Store
env_file
**/logs/*
static_files

celerybeat*


# sonar-scanner gen file
.sonar_lock
report-task.txt
.scannerwork/*

certbot/*

# local development files
# docker-compose.local.yml
# local.txt
# local.py
# Makefile.local
.vscode
